<!DOCTYPE html>
<html>
<head>
	<title>File upload</title>
</head>

<body>
	<h1>Single file UPload</h1>

	<form action="/uploadProfilePicture" enctype="multipart/form-data" method="POST">
		<span>UPLOAD PROFILE PICTURE</span>
		<input type="file" name="mypic" required /><br>
		<input type="submit" value="submit">
	</form>
</body>